<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/szkola?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">szkola</property>
    <property name="hibernate.connection.password">test</property>
    <mapping resource="hibernate/UczniowiePrzedmioty.hbm.xml"/>
    <mapping resource="hibernate/KlasaUczniowie.hbm.xml"/>
    <mapping resource="hibernate/Klasa.hbm.xml"/>
    <mapping resource="hibernate/NauczycielePrzedmioty.hbm.xml"/>
    <mapping resource="hibernate/Uwagi.hbm.xml"/>
    <mapping resource="hibernate/Przedmioty.hbm.xml"/>
    <mapping resource="hibernate/Uczniowie.hbm.xml"/>
    <mapping resource="hibernate/Nauczyciele.hbm.xml"/>
    <mapping resource="hibernate/Oceny.hbm.xml"/>
    <mapping resource="hibernate/Obecnosc.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
